@import "../../vendor/bootstrap-4.4.1/scss/bootstrap";

html, body {
    height: 100%;
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

// page-specific stuff

.page-dashboard {
  .main-content-margin {
    margin-top: 5rem;
  }

  .articles-nav {
    .articles-nav__cell {
      .articles-nav__cell__maintitle {
      }
    }
  }
}
