@import "../../vendor/bootstrap-4.4.1/scss/bootstrap";

html, body {
    height: 100%;
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

// page-specific stuff

.page-dashboard {
  .main-content-margin {
    margin-top: 5rem;
  }

  .articles-nav {
    border-right: 1px solid #e5e5e5;

    .articles-nav__cell {
      padding-left: .5rem;
      padding-right: .5rem;
      border-bottom: 1px solid #e5e5e5;

      .articles-nav__cell__date {
        float: right;
        color: #7a808c;
      }

      .articles-nav__cell__secondary {
        color: #213059;
      }
    }
  }
}
